
# Moralis.io API key (used for API routes for token balances and wallet NFTs)
# - not required to build (unless using wallet NFTs and token balances)
MORALIS_API_KEY=dummykey123

# Magic.link API key (used for magic wallet login)
# - not required to build (unless testing magic link integration)
NEXT_PUBLIC_MAGIC_KEY=dummykey456

# Alchemy.com API key (used for wallet NFTs)
# - cannot be restricted to IP/domain because Vercel has no stable IPs and it happens during build & runtime API route call
# - not required to build (unless testing wallet NFTs)
SSR_ALCHEMY_KEY=dummykey789

# Beehiiv.com API key (used for newsletter signups)
# - not required to build (unless testing newsletter signups)
BEEHIIV_API_KEY=dummykey321

# Sentry DSN (Data Source Name)
# - required for Sentry error logging, add your own Sentry DSN here
SENTRY_DSN=dummydsn123


NEXT_PUBLIC_SENTRY_DSN=dummydsn123